/* task 1 */

button {

    background-color: rgb(221,160,221);
    height: 100px;
    width: 277px;
    font-size: 30px;
    color: rgb(253,251,251);
    letter-spacing: 3.5px;
    text-shadow: 4px 4px rgba(57, 55, 55, 0.636);
    border-radius: 20px;
    box-shadow: 2px 7px 20px black;

    border-top: 50px;
    border-top-color: aliceblue;
    border-left-color: aliceblue;
    
}

button:hover {

    text-shadow: 1px 1px  rgba(57, 55, 55, 0.314);
    box-shadow: 2px 7px 20px black inset; 
    border-bottom-color: aliceblue;
    border-right-color: aliceblue;
}

/* task 2 */

img { 
width: 200px;
height: 200px;

}
figure{
    display: inline-block;
    margin-inline: 20px;
    padding: 20px 20px;
}

figure:hover{
border: greenyellow 2px solid;
box-shadow: 2px 7px 10px greenyellow;
    border-radius: 10%;
    transition-duration: 0.5s;
}

img:hover{
    border: 1px transparent solid;
    border-top-right-radius:10px ;
    border-top-left-radius: 10px;
    transition-duration: 0.5s;
}

figcaption{
   color: green;
   margin-top: 5px;
}

/* task 3 */

span {
     font-size: 30px;
     color: navy;
     font-weight: bold;
     transition: 2s ease-in-out;
}

span:hover{
    
color: brown;

}
